<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  Login Page </title>
    <meta name="author" content="Codeconvey" />

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Stylish Login Page CSS -->
    @Styles.Render("~/css/login-page.css")

    <!--Only for demo purpose - no need to add.-->
    @Styles.Render("~/css/demo.css")

</head>
<body>
   
   
    <section>
        <div class="rt-container">
            <div class="col-rt-12">
                <div class="Scriptcontent">
                    @RenderBody()
                    <!-- Stylish Login Page Start -->
                    
                    <!-- Stylish Login Page End -->

                </div>
            </div>
        </div>
    </section>



    <!-- Analytics -->

</body>
</html>